
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- slider_area_start -->
@Html.Action("PartialSlider", "Default");
<!-- slider_area_end -->
<!-- service_area_start -->
@Html.Action("PartialService", "Default");
<!-- service_area_end -->
<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/Templates/docmed-master/img/about/1.png" />
                    </div>
                    <div class="thumb_2">
                        <img src="~/Templates/docmed-master/img/about/2.png" />
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">


                <div class="welcome_docmed_info">
                    <h2>AcunMedya Hastanesi'ne Hoşgeldiniz</h2>
                    <h3>
                        Sağlığınız için <br>
                        En İyi Adres
                    </h3>
                    <p>
                        Hastalarımız her şeyin en iyisini hak ediyor.
                        Bu nedenle, AcunMedya Hastanesi olarak, hastalarımıza en iyi hizmeti sunmak için çalışıyoruz. Hastalarımızın sağlığı bizim için her şeyden önemli.
                        
                    </p>
                    <ul>
                        <li> <i class="flaticon-right"></i> Akıllı randevu sistemi ile hızlı ve kolay erişim </li>
                        <li> <i class="flaticon-right"></i> Hasta bilgileri için güvenli ve şifrelenmiş veri yönetimi </li>
                        <li> <i class="flaticon-right"></i> Yapay zeka destekli teşhis ve karar destek sistemi </li>
                    </ul>
                    <a href="#" class="boxed-btn3-white-2">Daha Fazlası İçin...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->
<!-- offers_area_start -->
@Html.Action("PartialDepartment", "Default");
<!-- offers_area_end -->
<!-- testmonial_area_start -->
@Html.Action("PartialPatientComment", "Default");
<!-- testmonial_area_end -->
<!-- business_expert_area_start  -->
<div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                               aria-selected="true">Mükemmel Hizmetler</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                               aria-selected="false">Alanında Uzman Doktorlar</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                               aria-selected="false">Acil Servisler</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="border_bottom">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-first-aid-kit"></i>
                                </div>
                                <h3>Aileniz için özel bakım</h3>
                                <p>
                                    Sevdiklerinizin sağlığı bizim önceliğimiz!
                                    Gelişmiş teknolojimiz ve uzman kadromuzla,
                                    ailenize özel konforlu ve güvenilir sağlık hizmeti sunuyoruz.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="img/about/business.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-first-aid-kit"></i>
                                </div>
                                <h3>Uzman Ellerde Sağlıklı Bir Gelecek</h3>
                                <p>
                                    Deneyimli ve uzman doktor kadromuz,
                                    en yeni tıbbi gelişmeleri takip ederek hastalarımıza 
                                    en doğru teşhis ve tedavi yöntemlerini sunar. 
                                    Sağlığınızı emin ellere teslim edin.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="img/about/business.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="flaticon-first-aid-kit"></i>
                                </div>
                                <h3>7/24 Güvenilir Acil Sağlık Hizmeti</h3>
                                <p>
                                    Acil durumlarda en hızlı ve etkili müdahaleyi sağlayarak
                                    hastalarımızın sağlığını güvence altına alıyoruz. 
                                    7/24 hizmet veren acil servisimiz, ileri tanı ve tedavi olanaklarıyla 
                                    zamanında ve doğru müdahalede bulunarak hayat kurtarmaya odaklanmıştır.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="img/about/business.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- business_expert_area_end  -->
<!-- expert_doctors_area_start -->
@Html.Action("PartialDoctor", "Default");
<!-- expert_doctors_area_end -->
<!-- Emergency_contact start -->
@Html.Action("PartialEmergency", "Default");
<!-- Emergency_contact end -->